# Any build folder
**/build/

# CPP 00 - Ex 00
00/ex00/megaphone

# CPP 00 - Ex 01
00/ex01/awesomephonebook

# CPP 00 - Ex 02
00/ex02/test
00/ex02/*.log

# CPP 01 - Ex 00
01/ex00/walkingdead

# CPP 01 - Ex01
01/ex01/runningdead

# CPP 01 - Ex02
01/ex02/brain
