# Any build folder
**/build/

# Any debug symbol file directory
**/*.dSYM

# CPP 00 - Ex00
00/ex00/megaphone

# CPP 00 - Ex01
00/ex01/awesomephonebook

# CPP 00 - Ex02
00/ex02/test
00/ex02/*.log

# CPP 01 - Ex00
01/ex00/walkingdead

# CPP 01 - Ex01
01/ex01/runningdead

# CPP 01 - Ex02
01/ex02/brain

# CPP 01 - Ex03
01/ex03/humanity

# CPP 01 - Ex04
01/ex04/replace

# CPP 01 - Ex05
01/ex05/harl

# CPP 01 - Ex06
01/ex06/harlFilter

# CPP 02 - Ex00
02/ex00/orthodox

# CPP 02 - Ex01
02/ex01/fixed

# CPP 02 - Ex02
02/ex02/fullfixed

# CPP 02 - Ex03
02/ex03/partitioning

# CPP 03 - Ex00
03/ex00/clapping

# CPP 03 - Ex01
03/ex01/scavving

# CPP 03 - Ex02
03/ex02/fragging

# CPP 03 - Ex03
03/ex03/diamond

# CPP 04 - Ex00
04/ex00/pets

# CPP 04 - Ex01
04/ex01/intelligence

# CPP 04 - Ex02
04/ex02/blocked

# CPP 04 - Ex03
04/ex03/maging

# CPP 05 - Ex00
05/ex00/office

# CPP 05 - Ex01
05/ex01/forms

# CPP 05 - Ex02
05/ex02/manyforms
05/ex02/*_shrubbery

# CPP 05 - Ex03

# CPP 06 - Ex00
# CPP 06 - Ex01
# CPP 06 - Ex02

# CPP 07 - Ex00
# CPP 07 - Ex01
# CPP 07 - Ex02

# CPP 08 - Ex00
# CPP 08 - Ex01
# CPP 08 - Ex02

# CPP 09 - Ex00
# CPP 09 - Ex01
# CPP 09 - Ex02
